.feedimg img{
    width: 300px;
}
.feedimg{
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media(max-width:768px){
   .feedimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
   } 
}